/*https://codepen.io/gnjo/pen/MRRLPq.css?terminal=1*/
/*
word:#fff
wipe:#568
mark:#f26
font-size:14px;
margin:4rem;
background:black;
*/
/*color*/
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
.wipe {
  color: #568;
  font-size: 14px;
}

.mark {
  color: #f26;
  font-size: 14px;
}

.word {
  color: #fff;
  font-size: 14px;
}

.ed, [data-editable] {
  white-space: pre-wrap;
  word-break: break-all;
}

/*
* {
  font-family: 'Consolas','share tech mono',sans-serif;
  outline: none;
}
*/
* {
    font-family: 'Consolas','share tech mono','Yu Gothic',sans-serif;
    line-height: 1.3;
}

/*chrome bar*/
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
  border: 2px solid black;
}

::-webkit-scrollbar {
  background-color: black;
  width: 12px;
}

::-webkit-scrollbar-button {
  background-color: white;
  height: 0px;
  width: 0px;
  border-radius: 0px;
}

/***/
::selection {
  background: #9ab;
}

/***/
body {
  background-color: black;
  color: white;
  margin: 4rem auto;
  height: calc(100vh - 8rem);
  width: 52rem;
}

#terminal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#top {
  width: 100%;
  height: calc(100% - 160px);
  border: 2px solid white;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

#bottom {
  width: 100%;
  height: 160px;
  margin-top: 1rem;
}

/****/
.test-orange {
  background-color: orange;
}

.test-red {
  background-color: red;
}

.test-long {
  height: 200vh;
}

.test-pad {
  padding: 0 4rem;
}

/**add codemirror**/
.cm-s-default .CodeMirror-linenumber {color: #567;}
.cm-s-default.CodeMirror {background: #000000; color: #fff;}
.cm-s-default div.CodeMirror-selected {background: #404040 !important;}
.cm-s-default .CodeMirror-gutters {background: #000000; border-right: 0px;}
.cm-s-default .CodeMirror-linenumber {color: #808080;}
.cm-s-default .CodeMirror-cursor {border-left: 1px solid #c0c0c0 !important;}

.cm-s-default span.cm-error {background-color: #f26;color: white;}

.cm-s-default .CodeMirror-matchingbracket { text-decoration: underline; color: #f26 !important;}
.cm-s-default .CodeMirror-activeline-background { background: #202020; }

div.CodeMirror-lines { padding:1rem 2rem}
div.CodeMirror{
 height:100%;
}

div.cm-s-default span.cm-property
,div.cm-s-default span.cm-attribute {
    color: #fff;
}
div.cm-s-default span.cm-property.cm-string{
 color:#f26;
}

.cm-s-default span.CodeMirror-matchingbracket{
 text-decoration: unset;
}

.ed .cm-s-default.CodeMirror{
 background:transparent;
}
.cm-header,
.cm-strong {
    font-weight: bold
}
.cm-em {
    font-style: italic
}

.CodeMirror-cursor {
    border-left-color: white !important
}

.CodeMirror-selected {
    background: rgba(255,255,255,0.05)
}

.CodeMirror-focused .CodeMirror-selected {
    background: rgba(255,255,255,0.1)
}


.cm-searching {
    background: black;
    outline: 2px solid rgba(255,255,255,0.25)
}

.CodeMirror-hints {
    border: 1px solid #5a5f73;
    background: #444857
}

.CodeMirror-hint {
    color: white
}

li.CodeMirror-hint-active {
    background: #c7c9d3;
    color: black
}



.cm-header
,.cm-number
,.cm-unit {
    color: #f26/*#d0782a*/
}

.cm-def
,.cm-variable-2 {
    color: #ccc
}


.cm-operator {
    color: #ccc
}

.cm-comment {
    color: #567
}

.box-html .cm-atom
,.cm-string
,.cm-string-2 {
    color: #f26
}

.cm-property
,.cm-meta {
    color: #ddd
}


.cm-tag
,.cm-keyword
,.cm-atom
,.cm-variable
,.box-css .cm-tag
,.cm-attribute
,.cm-strong
,.cm-em
,.cm-qualifier
,.cm-builtin {
    color: #0ef
}
